@font-face {
  font-family: "Fixed";
  src: url("/static/fonts/Fixed-Medium.eot");
  src: url("/static/fonts/Fixed-Medium.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Fixed-Medium.woff2") format("woff2"), url("/static/fonts/Fixed-Medium.woff") format("woff"),
    url("/static/fonts/Fixed-Medium.ttf") format("truetype"), url("/static/fonts/Fixed-Medium.svg#Fixed-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
