@font-face {
    font-family: 'Fixed';
    src: url('Fixed-Medium.eot');
    src: url('Fixed-Medium.eot?#iefix') format('embedded-opentype'),
        url('Fixed-Medium.woff2') format('woff2'),
        url('Fixed-Medium.woff') format('woff'),
        url('Fixed-Medium.ttf') format('truetype'),
        url('Fixed-Medium.svg#Fixed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

