@font-face {
  font-family: "Jewel Hill";
  src: url("/static/fonts/hinted-JewelHill.eot");
  src: local("Jewel Hill"), local("JewelHill"), url("/static/fonts/hinted-JewelHill.eot?#iefix") format("embedded-opentype"), url("/static/fonts/hinted-JewelHill.woff2") format("woff2"), url("/static/fonts/hinted-JewelHill.woff") format("woff"),
    url("/static/fonts/hinted-JewelHill.ttf") format("truetype"), url("/static/fonts/hinted-JewelHill.svg#JewelHill") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manjari Regular";
  src: url("/static/fonts/hinted-Manjari-Regular.eot");
  src: local("Manjari Regular"), local("Manjari-Regular"), url("/static/fonts/hinted-Manjari-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/hinted-Manjari-Regular.woff2") format("woff2"), url("/static/fonts/hinted-Manjari-Regular.woff") format("woff"),
    url("/static/fonts/hinted-Manjari-Regular.ttf") format("truetype"), url("/static/fonts/hinted-Manjari-Regular.svg#Manjari-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: content-box;
}
body,
html {
  font-size: 20px;
}

li.menu-item {
          max-width: 80px;
        max-height: 80px;
          margin: 2px 4px 2px 4px;

}