@font-face {
  font-family: "Jewel Hill";
  src: url("/static/fonts/hinted-JewelHill.eot");
  src: local("Jewel Hill"), local("JewelHill"), url("/static/fonts/hinted-JewelHill.eot?#iefix") format("embedded-opentype"), url("/static/fonts/hinted-JewelHill.woff2") format("woff2"), url("/static/fonts/hinted-JewelHill.woff") format("woff"), url("/static/fonts/hinted-JewelHill.ttf") format("truetype"), url("/static/fonts/hinted-JewelHill.svg#JewelHill") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manjari Regular";
  src: url("/static/fonts/hinted-Manjari-Regular.eot");
  src: local("Manjari Regular"), local("Manjari-Regular"), url("/static/fonts/hinted-Manjari-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/hinted-Manjari-Regular.woff2") format("woff2"), url("/static/fonts/hinted-Manjari-Regular.woff") format("woff"), url("/static/fonts/hinted-Manjari-Regular.ttf") format("truetype"),
    url("/static/fonts/hinted-Manjari-Regular.svg#Manjari-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body,
html {
  font-size: 20px;
}

li.menu-item {
  max-width: 80px;
  max-height: 80px;
  margin: 2px 4px 2px 4px;
  transition: width 1s;
}
li.menu-item > a {
  font-size: 2em;
}
@media (max-width: 414px) {
  .title-bar {
    font-size: 18px;
  }
}
.toast-button:hover {
  color: white;
  text-decoration: underline;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

a:hover {
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));

  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.colors-text {
  transition: opacity 1s linear;
  opacity: 0.2;
}
.colors-text:hover {
  opacity: 1;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: relative;
  text-decoration: none;
}
.tooltip:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  right: -10%;
  padding: 5px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tooltip:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid #ffcb66;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  left: -30%;
  bottom: 90%;
  z-index: 1000000;
}
.tooltip:hover:after {
  bottom: 100%;
}
.tooltip:hover:before {
  bottom: 70%;
}
.tooltip:hover:after,
a:hover:before {
  opacity: 1;
}
.hright {
  text-align: right;
  margin: auto 0 auto auto;
  margin-right: 0;
}
.vcenter {
  vertical-align: middle;
  line-height: 100%;
  margin: auto;
}
.hcenter {
  text-align: center;
  margin: auto;
}

.vcenter2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.vcenter3 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rug-item {
  cursor: -webkit-grab;
  cursor: grab;
}
